/server/BackEndCodeSquare/nbproject/private/
/server/BackEndCodeSquare/.settings/
/server/hbaseaccesscode/internalProcessing/nbproject/private/
/server/hbaseaccesscode/internalProcessing/.settings/
/mapreds/14_15_20-25/nbproject/private/
/mapreds/14_15_20-25/.settings/