<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="codesquare"
               description="TODO: Replace with real description of codesquare inside app.xml: Module/ModulePrefs/description"
               author="Eric Ren"
               author_affiliation="Jive Software"
               author_email="eric.ren@jivesoftware.com"
               height="300">

    <!-- Commonly used features -->
    <Require feature="opensocial-1.0" />
    <Require feature="dynamic-height" />
    <Require feature="jive-core-v2" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="views" />

    <!-- Icons: 3 sizes, 16x16, 48x48, 128x128 -->
    <Link rel="Icon"       href="images/icon16.png" />
    <Link rel="MediumIcon" href="images/icon48.png" />
    <Link rel="LargeIcon"  href="images/icon128.png" />

    <!-- OAuth Services: https://developers.jivesoftware.com/community/docs/DOC-1161 -->
    <!--
    <OAuth>
      <Service name="example">
        <Access url="http://api.example.com/oauth/access_token" method="POST" />
        <Request url="http://api.example.com/oauth/request_token" method="POST" />
        <Authorization url="http://api.example.com/oauth/authorize" />
      </Service>
    </OAuth>
    -->

    <!-- Lifecycle Events: https://developers.jivesoftware.com/community/docs/DOC-1119 -->
    <!--
    <link rel="event.addapp" href="http://www.example.com/add" />
    <link rel="event.removeapp" href="http://www.example.com/remove" />
    -->

    <!-- Preloaded Content: http://wiki.opensocial.org/index.php?title=Remote_Data_Requests_%28v0.9%29#Preloading_data -->
    <!--
    <Preload href="http://www.example.com" />
    -->

  </ModulePrefs>

  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->

  <Content type="html" view="home,canvas">
    <![CDATA[
      <script src="javascripts/json2.js" type="text/javascript"></script>
      <script  type="text/javascript">
	
      function init() {
         osapi.people.getViewer().execute(function(viewerData) {
           if (!viewerData.error) {
              var viewerDiv = document.getElementById('current_user_id'),
                  viewerThumbnailImg = document.getElementById('viewerThumbnailImg');
              viewerDiv.innerHTML += viewerData.displayName;
              viewerThumbnailImg.attributes.getNamedItem("src").nodeValue=viewerData.thumbnailUrl;
              gadgets.window.adjustHeight();
      
              var name = viewerData.displayName;
              name = name.replace(/\s+/, '_');
              document.getElementById('tes').innerHTML = name;
	 
           };
         });
      }

    /*
      function loadBadges() {
              var url = 'http://some.server.com?name=' + name;
      
              var params = {href : url, 'format' : json', 'authz' : 'none' };
              osapi.http.get(params).execute(function(response) {
                 if (response.error) {
                    alert("response error"); // Deal with this...
                 }
                 else {
                    // use the data 
                     var jsondata = response.content;
                     var html = "";
                     for (var key in jsondata) {
                         var value = jsondata[key];
                         html += key + ": " + value + "<br />";
                     }
                 }
  
              document.getElementById('content_div').innerHTML = html;
              });
      
           }
*/

      
      gadgets.util.registerOnLoadHandler(init);
      </script>
      
      <p>Your name is: <span id="current_user_id"></span></p>
      <p>Your thumbnail is <img id="viewerThumbnailImg" src=""></img></p>
      <br />

      <div id="content_div"></div>

      <div id="test">testing...</div>

      <!-- <button type="button" onclick="loadBadges()">Get stuff</button> -->
      ]]>
  </Content>

</Module>
