/* main.css for codesquare styling */

/*
body {
     /*background-color:#b0c4de;*/
     text-align:center;     
}
*/
td {
   width: 100%;
}

img {
   width: 100px;
   height: 100px;
}

td  p {
   height: 40px; 
   width: 100px;  
   text-align: center;
}

th {
   padding: 0px 75px 50px 0px;
   font-size: 1.5em;
}

table {
   table-layout: fixed;
}