/* main.css */
/*
td {
   width: 100%;
}
*/
input[type="image"] {
   width: 100px;
   height: 100px;
}

td  p {
   height: 40px; 
   width: 100px;  
   text-align: center;
}

th {
   padding: 0px 75px 50px 0px;
   font-size: 1.5em;
}

table {
   table-layout: fixed;
}